#navbar {
    height: 100px;
    background-color: rgba(29, 29, 29, 0);
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
}



#nav-overlay {
    height: 100px;
    background-color: black;
    width: 100%;
}

#nav-grid {
    // border: 1px solid red;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 4fr 3fr;
    align-items: center;
    padding: 0 0.2rem;

}


#nav-left {
    // border: 1px solid blue;
    height: 100%;

    img {
        width: 300px;
        height: 100%;
    }
}


#nav-right {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
        color: rgb(235, 235, 235);
        font-weight: bold;
        letter-spacing: 1.5px;
        
        font-size: 1.1rem;
    }
}



#nav-btn {
    position: absolute;
    display: none;
    cursor: pointer;
    right: 30px;
   top: 50%;
   transform: translate(0%,-50%);


    div {
        height: 4px;
        width: 28px;
        margin-bottom: 6px;
        background-color: #fff;
        transition: all 0.4s ease;
    }
}


#nav-btn.shows #nav-btn-1 {
    transform: translate(0px,10px) rotate(45deg);
}

#nav-btn.shows #nav-btn-2 {
    transform: rotate(380deg);
    opacity: 0;   
}

#nav-btn.shows #nav-btn-3 {
    transform: translate(0px,-10px) rotate(-45deg);
}



#sidebar {
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 300px;
    top: 100px;
    left: -1000px;
    z-index: 10 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
  
}


#sidebar.shows {
    left: 0;
}


.sidebar-link {
    margin-bottom: 1.5rem;    
    font-size: 1.5rem;
    color: #fff;
   
}




@media(max-width: 768px){




    #nav-btn {
        display: block;
    }

    #nav-grid {
        grid-template-columns: 2fr 3fr;
    }
    #nav-right {
        display: none;
    }
}
